.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main */

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title */

.titleContainer {
  position: absolute;
  top: 28%;
}

.titleImage {
  width: 700px;
}

/* Input */

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textFieldContainer {
  position: relative;
}

.buttonContainer {
  position: relative;
  top: 30px;
}

/* Footer */

.footerContainer {
  bottom: 20px;
  position: absolute;
}

.footerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

/* Result */

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortLink {
  color: green;
}

.longLink {
  color: orangered;
}

.originalURLContainer {
  top: 50px;
  position: relative;
}

.shortURLContainer {

}